/**
 * //////////////
 * Master styling
 * //////////////
 */

@font-face {
  font-family: roboto;
  src: url(Roboto-Regular.ttf);
}

body {
  font-family: roboto;
	color: #424242;
	background-color: #e8e8e8;
}

.layout-body,
.layout-container {
  display: flex;
  flex-direction: column;
}

.layout-container {
  margin-left: 250px;
}

.layout-leftbar {
	font-size: 14px;
  color: #666;
	background-color: #222;
	box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.5);
	padding: 20px;
  order: -1;
	height: 100vh;
  position: fixed;
  width: 250px;
  top: 0;
  left: 0;
}

.layout-leftbar li {
  list-style: none;
  padding: 20px;
  font-size: 18px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 4px;
  text-align: center;
}

.layout-leftbar a, .layout-leftbar a:link, .layout-leftbar a:active{
	color: rgba(255,255,255,0.5)
}

.layout-leftbar a:hover, .layout-leftbar .active {
  text-decoration: none;
  color: white !important;
  opacity: 1;
}

.layout-leftbar a:hover li, .layout-leftbar .active li {
  background-color: rgba(255,255,255,0.05);
}

.social-outer {
  width: 36px;
  height: 36px;
  margin: 4px;
  display: flex;
  place-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: rgba(255,255,255,0.05);
}

.social-outer .social-inner {
  opacity: 0.4;
}

.social-outer:hover .social-inner {
  opacity: 1;
}

@media (min-width: 768px){
  .layout-container {
    flex-direction: row;
    flex: 1;
  }
  .layout-content {
    flex: 1;
  }
  .layout-leftbar {
    flex: 0 0 250px;
  }
}


/**
 * //////////////////////////
 * Font and link declarations
 * //////////////////////////
 */
span.time {
    color: #ADADAD;
    margin-bottom: 5px;
    font-size: 11px;
}

h1 {
    font-weight: normal;
    color: #696969;
    margin-bottom: 10px;
}

h2 {
    font-weight: normal;
    margin-bottom: 5px;
    color: #666666;
    border-bottom: 1px solid #E6E6E6;
}

h3 {
    font-weight: normal;
    margin-bottom: 5px;
    color: #666666;
    text-decoration: underline;
}

/**
 * //////////////////////////////////
 * Right aka content column formatting
 * //////////////////////////////////
 */

.layout-content {
	border-top: 1px solid #E6E6E6;
	margin: 10px;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.5);
	overflow-x: hidden;
	height: max-content;
}

.layout-content pre {
    background: #333333;
    padding: 5px;
    color: #FFF;
    overflow-x: scroll;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 16px;
}

.layout-content .highlight {
	background: #333333;
}

footer {
    border-top: 1px solid #E6E6E6;
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    color: #C2C2C2;
    font-size: 11px;
    bottom: 0;
    padding-bottom: 10px;
}

footer div#github {
	text-align: right;
}

.layout-content h1 {
	margin-top: 10px;
}

.layout-content ul {
	list-style: none;
	margin-left: 0;
	padding: 0;
}

.layout-content ul li {
	margin-top: 5px;
	margin-left: 0;
	padding: 0;
}

.layout-content .post ul {
	list-style: square;
	margin-left: 15px;
}

/**
 * ///////////////////////////////////
 * Left column aka nav bar formatting
 * ///////////////////////////////////
 */

.layout-leftbar h1 {
  text-align: center;
	color: rgba(255,255,255,0.9);
}

.layout-leftbar strong {
  font-size: 22px;
  color: rgba(255,255,255,0.9);
  font-weight: normal;
}

.layout-leftbar div#about {
	margin-bottom: 10px;
	color: rgba(255,255,255,0.5);
}

.layout-leftbar img#about {
	-webkit-border-radius: 150px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.layout-leftbar p{
  text-align: center;
	color: rgba(255,255,255,0.5);
}
