---
layout: default
---

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        {% if post.comments %}
          <span class="glyphicon glyphicon-comment"></span>
          <a href="{{ site.baseurl }}{{ post.url }}#disqus_thread" data-disqus-url="{{ site.baseurl }}{{ post.url }}">0</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
