---
layout: default
---
<h1>
	<span style="opacity: .4; color: black">
		<a style="text-decoration: none; color: black" href="{{ site.baseurl }}/">
			Blog
		</a>
		>
	</span> {{ page.title }}</h1>
<div class="time">{{ page.date | date_to_string }}</div>

<div class="content">
	{% assign image_path = page.slug | prepend: '/img/post_images/' | append: "/main.png" %}
	{% assign file_exists = site.static_files | where: "path", image_path  %}

	{% if file_exists.size != 0 %}
		<div
			class="col-12"
			style="display: flex; place-content: center; margin-top: 0px; margin-bottom: 64px;
			background-image: url({{image_path}}); height: 200px; background-repeat: no-repeat;
			background-position: center; background-size: contain;">
		</div>
	{% endif %}

	{% assign image_path = image_path %}

	<div class="post">{{ content }}</div>

	{% if page.comments %}
		{% include disqus.html %}
	{% endif %}
</div>
