---
layout: default
---
<h1>Projects</h1>

<div class="content">
	<div class="post">{{ content }}
		<div class="container">
			<div class="row text-center text-lg-left">
				{% for i in site.projects %}
					<a
						class="col-lg-4 col-md-6 col-xs-6 text-center"
						style="padding: 8px;"
						href="{{ site.baseurl }}{{ i.url }}"
					>
						<img class="img-fluid" src="/projects/img/{{ i.name }}.png" style="width: 100%;" />
						<h2 style="border: 0; background-color: #222; color: white; padding: 10px; margin: 0">
							{{ i.name }}
						</h2>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
