---
layout: default
---
<h1>Projects</h1>

<div class="content">
	<div class="post">{{ content }}
		<div class="container">
			<div class="row text-center text-lg-left">
				{% for i in site.data.projects %}
						<div class="col-lg-4 col-md-6 col-xs-6 text-center" style="padding-left: 2px; padding-right: 2px;">
							<img class="img-fluid" src="/projects/img/{{ i.name }}.png" style="width: 100%;" />
							<h2 style="border: 0; background-color: #C2C2C2; padding: 5px 0;">{{ i.name }}</h2>
						</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
